
video{
	display: block;
	margin-left:auto;
	margin-right:auto;
	width: 100%
}
.about h2{
	text-align: center;
	font-size: 28px;
	
}
.about p{
	text-align: center;
	padding-left: 60px;
	padding-right: 60px;
	font-size: 20px;
	align-content: center;
}

.vid{
	position: relative;
	text-align: center;
	
}

.overlay{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;

}
.overlay h3{
	font-size: 28px;

}

.overlay h1{
	font-size: 32px;
}
.bt {
  background-color: #008800;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  border-radius: 30px ;
  transition: background 0.5s;
  
}

.bt:hover{
	background: yellow;
	
	
}	
	
	

.smallcon{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.col4{
	display: grid;
	flex-basis: 30%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
	background-color: #E8E8E8;
}
.col4 img{
	width: 100%;
	
}
.col4:hover{
	transform: translateY(-10px);

}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.smallcon p{
	text-align:left;
	color: Black;
}
.smallcon h2{
	text-align: center;
	font-size: 28px;
	font-size: 28px;
	
}
.smallcon h4{
	color: Black;
}



