/* ========== Blog =========== */
.blog {
    .title {
      margin-bottom: 7rem;
    }
  
    .row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      gap: 4rem;
  
      .col {
        border-radius: 2.5rem;
        overflow: hidden;
        box-shadow: var(--box-shadow-1);
  
        .top {
          height: 45rem;
  
          img {
            height: 100%;
            object-fit: cover;
          }
        }
  
        .bottom {
          text-align: center;
          padding: 3rem 0;
  
          h3 {
            color: var(--primary-color);
            margin-bottom: 1rem;
            font-size: 1.8rem;
          }
  
          h4 {
            max-width: 50%;
            margin: 0 auto 1rem;
            font-size: 1.5rem;
            line-height: 1.5;
          }
  
          span {
            color: #909090;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
  
  @media (max-width: 1600px) {
    .blog {
      .row {
        .col {
          .top {
            height: 30rem;
          }
          .bottom {
            h4 {
              max-width: 85%;
            }
          }
        }
      }
    }
  }
  