.ielts1 p{
	text-align: left;
	padding-left: 20px;
	color: black;
	
	font-size: 20px;
	
}
.ielts1 h1{
	text-align: center;
	color: blue;
	
}
table, th, td{
	border: 2px solid cyan;
	border-collapse: collapse;
	
}
table{
	width: 100%;
	border-spacing: 10px;
	
}


th{
	height: 50px;
	background-color: #F0F8FF;
	text-align:center;
	font-size: 25px;
}
td{
	height: 45px;
	font-size: 20px;
	padding: 15px;
	text-align: left;
	
}
.at p{
	font-style: italic;
	text-align: left;
	padding-left: 20px;
	color: black;
	
	font-size: 20px;
}
.rem p{text-align: left;
	padding-left: 20px;
	color: black;
	
	font-size: 20px;}

.rem h1{text-align: center;
color: red;}

.fees p{text-align: left;
	padding-left: 20px;
	
	font-size: 20px;
	color: black;
}