

.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.column:hover{
	transform: scale(1.3);
	opacity: 90%;
	background-color: white;
	border: 1px solid black;

}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
 .column {
    width: 27vw;
    padding: 5px;
  }

}