/* ========== Google Fonts =========== */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
/* ========== CSS Variables =========== */
:root {
  --primary-color: #135ff7;
  --default-color: #4f5665;
  --black-color: #000;
  --grey-color: #f0f0f0;
  --white-color: #fff;
  --lightpink: #76e9e1;
  --blue: #ef1f5e;
  --custom: #a30d82;
  --color: #4d4d4d;
  --lightblue: #ccccff;
  --box-shadow-1: 0 5px 15px rgba(0, 0, 0, 0.1);
  --box-shadow-2: 0 5px 15px rgba(255, 94, 58, 0.2);
  --gradient: linear-gradient(to bottom, #3aefcd, #288dde);
  --btn-gradient: linear-gradient(to bottom, #f95b5b 50%, #750202);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--black-color);
  background-color: var(--white-color);
}

h1,
h2,
h3,
h4 {
  color: var(--black-color);
  line-height: 1.2;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

section {
  padding: 5rem 0 5rem;
  overflow: hidden;
}

p {
  line-height: 3rem;
}

img {
  max-width: 100%;
  height: auto;
}

/* ========== Custom Classes =========== */
.container {
  max-width: 120rem;
  padding: 0 3rem;
  margin: auto;
}

@media (min-width: 1600px) {
  .container {
    max-width: 160rem;
  }
}
@media (max-width: 567px) {
  .container {
    padding: 0 1rem;
  }
}
.d-flex {
  display: flex;
  align-items: center;
}

/* ========== Header =========== */
.header {
  margin-bottom: 4rem;
}

/* ========== Statistics =========== */
/* ========== Footer =========== */
.footer {
  background-color: rgba(252, 203, 144, 0.15);
  padding: 10rem 3rem 10rem;
  margin-top: 7rem;
}
.footer .row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
}
.footer .row .col .logo {
  margin-bottom: 2.5rem;
  width: 45%;
}
.footer .row .col:first-child p {
  margin-bottom: 2rem;
  color: #4f5665;
  font-size: 1.7rem;
}
.footer .row .col .icons {
  margin-bottom: 2rem;
}
.footer .row .col .icon {
  color: var(--white-color);
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2.5rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  cursor: pointer;
}
.footer .row .col .icon:not(:last-child) {
  margin-right: 1rem;
}
.footer .row .col:first-child .color {
  color: var(--primary-color);
}
.footer .row .col:last-child {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer .row .col:last-child div {
  display: flex;
  flex-direction: column;
}
.footer .row .col:last-child div a {
  font-size: 1.7rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: #4f5665;
}
.footer .row .col:last-child h4 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}
.footer .row .col:last-child .d-flex {
  flex-direction: row;
  margin-bottom: 2rem;
}
.footer .row .col:last-child .d-flex .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  width: auto;
  height: auto;
  padding: 0.7rem;
}
.footer .row .col:last-child .d-flex span {
  font-size: 1.8rem;
  color: #4f5665;
}

@media (max-width: 1200px) {
  .footer .col:first-child {
    display: none;
  }
  .footer .row {
    display: block;
  }
}
@media (max-width: 768px) {
  .footer .row .col:last-child {
    grid-template-columns: 1fr;
    gap: 3rem 0;
  }
}
.user-form {
  position: fixed;
  top: 50%;
  left: 50%;
  min-height: 100vh;
  width: 100%;
  background-color: var(--lightblue);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5;
  z-index: 10000;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease-in-out;
  /* Functionality */
}
.user-form .container .signup {
  pointer-events: none;
}
.user-form .container .signup .form-box {
  top: 100%;
}
.user-form .container .signup .img-box {
  top: -100%;
}
.user-form .container.active .signup {
  pointer-events: initial;
}
.user-form .container.active .signup .form-box {
  top: 0;
}
.user-form .container.active .signup .img-box {
  top: 0;
}
.user-form .container .login .form-box {
  top: 0;
}
.user-form .container .login .img-box {
  top: 0;
}
.user-form .container.active .login .form-box {
  top: 100%;
}
.user-form .container.active .login .img-box {
  top: -100%;
}

@media (max-width: 996px) {
  .user-form .container {
    max-width: 512px;
  }
  .user-form .container .img-box {
    display: none;
  }
  .user-form .container .form-box {
    width: 100%;
  }
  .user-form .container.active .login .form-box {
    top: -100%;
  }
}
@media (max-width: 567px) {
  .header .navbar .row .nav-list a.user-link {
    display: block;
  }
  .user-form {
    padding: 0;
  }
  .user-form .close-form {
    top: 10px;
    right: 10px;
    padding: 0.7rem;
    font-size: 2.3rem;
  }
}/*# sourceMappingURL=styles.css.map */